@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;800&display=swap');



*, :root{

  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main{
  max-width: 700px;
  margin: 0 auto 64px;
  padding: 20px;
}

#acertos {
  text-align: center;
  background-color: #A3E635;


  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 12px;
}


